$primaryColor: white;
$secondaryColor: orange;
$secondaryColorDark: rgba(192, 125, 2, 0.966);

$fontL: 2rem;
$fontM: 1.5625rem;
$fontS: 1.25rem;

$fontLTablet: 1.6875rem;
$fontMTablet: 1.3125rem;
$fontSTablet: 1rem;

$fontLMobile: 1.3125rem;
$fontMMobile: 1.0625rem;
$fontSMobile: 0.875rem;
